.form-container-login{
    margin: 2% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(123, 247, 185);
    height: 70vh;
    border-radius: 5px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    background: azure;
    margin: 3%;
    border-radius: 6%;
}
.login input{
    height: 30px;
    width: 80%;
    border-radius: 8px;
    background: rgb(175, 250, 234);
}
.login p {
    color: rgb(189, 5, 5);
}
.left{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
}